@font-face {
    font-family: Vazir;
    src: url(fonts/vazir/Vazir.eot);
    src: url(fonts/vazir/Vazir.eot?#iefix) format("embedded-opentype"), url(fonts/vazir/Vazir.woff) format("woff"), url(fonts/vazir/Vazir.ttf) format("truetype");
    font-weight: 400
}
@font-face {
    font-family: Vazir;
    src: url(fonts/vazir/Vazir-Bold.eot);
    src: url(fonts/vazir/Vazir-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/vazir/Vazir-Bold.woff) format("woff"), url(fonts/vazir/Vazir-Bold.ttf) format("truetype");
    font-weight: 700
}
@font-face {
    font-family: Vazir;
    src: url(fonts/vazir/Vazir-Light.eot);
    src: url(fonts/vazir/Vazir-Light.eot?#iefix) format("embedded-opentype"), url(fonts/vazir/Vazir-Light.woff) format("woff"), url(fonts/vazir/Vazir-Light.ttf) format("truetype");
    font-weight: 300
}
body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Vazir';
    direction: rtl;
    text-align: right;
}
li,
p {
    font-family: 'Vazir';
    direction: rtl;
    text-align: justify
}
ul {
    list-style-type: disc;
    list-style-position: inside;
}
ol {
    list-style-position: inside;
}
pre,
code,
input,
.gitbook-link,
.custom-link {
    text-align: left;
}
.katex,
.katex-mathml {
    direction: ltr;
}
